html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-wrapper .slogan {
    text-align: center;
    color: #fafafa;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 48px;
}

.content-wrapper .logo {
    text-align: center;
}

.content-wrapper .logo img {
    height: 40px;
    width: 40px;
    margin-right: 8px;
    margin-top: 4px;
}

.content-wrapper .logo span {
    line-height: 40px;
    vertical-align: text-bottom;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    color: #333;
}

.form {
    width: 300px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .08);
    background: #fff;
    border-radius: 6px;
    box-shadow: '1px 1px 2px #eee';
    z-index: 999;
}

.ant-spin-container,
.ant-spin-nested-loading {
    height: 100%;
}

.login-alert {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 130px;
    width: 250px;
}