html,body,#root{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
}

.main-spin{
  height: 100%;
}

.main-spin .ant-spin-container{
  height: 100%;
}

.ant-layout{
    height: 100%;
}

.ant-layout-content{
    overflow: auto;
}

.main-sider{
  width: 200px;
  overflow: auto;
}

.main-sider.ant-layout-sider-collapsed{
  overflow: visible;
}

#menu_sider .logo{
  height: 64px;
  width: 200px;
  padding: 16px 4px;
  display: flex;
  flex-flow: row;
}
#menu_sider .logo img{
  margin-left: 10px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
#menu_sider .logo h1{
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  vertical-align:middle;
}
#menu_sider.ant-layout-sider-collapsed .logo h1{
  display: none;
}
#menu_sider.ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}

#menu_sider.ant-layout-sider-collapsed .nav-text {
  display: none;
}

#menu_sider.ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
  display: none;
}

#menu_sider.ant-layout-sider-collapsed .ant-menu-sub .nav-text{
  display: inline-block;
}

.content{
  background: #ffffff;
  padding: 5px;
  margin: 18px;
  height: 100%;
  border-radius: 4px;
}

.tabs-page{
  height: 100%;
}

.tabs-page .ant-tabs-content{
  height: 95%;
}

.ant-card-body{
  padding: 15px;
}

.editable-cell {
  position: relative;
}

.editable-cell-input-wrapper,
.editable-cell-text-wrapper {
  padding-right: 40px;
}

.editable-cell-icon,
.editable-cell-icon-check {
  position: absolute;
  right: 0;
  width: 30px;
  cursor: pointer;
}

.editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon-check {
  line-height: 32px;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}

.editable-add-btn {
  margin-bottom: 8px;
}

.tab-content{
  min-height: 400px;
}

.home-wrapper{
  margin-top:10px;
}

.home-editor{
  border: 1px solid #e0e0e0;
  padding: 5px;
  height: 300px;
  border-radius: 2px;
}

.query-input{
  width: 150px;
  margin:2px;
}

.redRow{
  background: #FF6666;
}

.upload-img .ant-upload.ant-upload-select-picture-card{
  background-color: #108ee9;
  color: #fff;
}
.upload-img .ant-upload-select-picture-card .anticon{
  font-size:2em;
}

.pswp__share-tooltip a.pswp__share--facebook{
  display: none;
}
.pswp__share-tooltip a.pswp__share--twitter{
  display: none;
}
.pswp__share-tooltip a.pswp__share--pinterest{
  display: none;
}

.row-form{
 border: 1px solid #ccc;
 border-bottom: none;
}

.cell-form{
 border-right: 1px solid #ccc;
 padding:5px;
}

.row-form-bottom{
   border-bottom:1px solid #ccc;
}

.cell-form-end{
   border-right:none;
}
